<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
	<div id="header_wrapper"><p id="header_text">Hello, I'm Spencer Lawrence Brown.</p></div>
	<nav id="nav">
		<a class="nav_item">Work</a>
		<a class="nav_item">Experiments</a>
		<a class="nav_item">CV</a>
	</nav>
	<div id="experiement_wrapper">
		<h2 id="experiment_header"> Current Experiment </h2>
	</div>
</body>