<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
	<div id="header_wrapper">
		<h3 id="header_name">Spencer <span id="name_middle">Lawrence</span> Brown</h3>
		<p id="header_subtitle">Thoughts &amp; Experiments</p>
	</div>
	<div id="experiment_wrapper">
		<h3 id="experiment_header">Current Experiment</h3>
		<div  id="evernote_experiment" class="experiment_content"></div>
</body>