
<!-- views/partial/head -->

<meta charset="UTF-8">
<title>Spencer Brown</title>

<!--CSS-->
<link rel="stylesheet" href="dist/main.min.css">
<!--Javascript-->
<!-- <script type="text/javascript" src="/public/dist/build.min.js"></script> -->
